.kakheti_container{
    width: 100%;
    
    display: grid;
    
    grid-template-columns: 3fr 1fr;
    grid-auto-rows: auto;
    padding: 20px;
    
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%); 
}
.img_container{
    width: 100%;
    height: 60vh;   
    
}
.img_container video{
    width: 100%;
    height: 100%;
    object-fit: fill;
    filter: brightness(80%);
    
}

.kakheti_container_1{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    
}
#kakheti_img{
    width: 70%;
    height: 450px;
}
.kakheti_text{
    width: 70%;
    padding: 10px;
    line-height: 1.6;
}

.kakheti_container_2{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 250px;

    font-family: 'Lora', serif;
}

.kakheti_info_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
}
.kakheti_info_container img{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    border-radius: 10px;
    transition-duration: .2s;
    transition-timing-function: ease-in;
}

.kakheti_info_container img:hover{
    width: 98%;
    height: 98%;
    
}

.kakheti_info_container:hover span{
   color: red;
   font-size: large;
  
}
.textHolder{
    font-size: 1rem;
    position: relative;
    top: 0.35rem;
    width: 100%;
    text-align: center; 
}

span{
   
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    color: black;
}

.reason-div{
    text-align: center;
}
#kakheti_reasons{
    color: rgb(9, 78, 9);
    font-size: 3rem;
}
.reasons{
    width: 100%;
    height: 30%;
    
    text-align: center;
}

.kakheti_hr{
    margin-top: 30px;
    height: 10px;
    
    border-width: 0;
    background-color:   rgb(9, 78, 9);
    border-radius: 3px; 
}
@media screen and (max-width:760px) {
    .reason-div{
        font-size: small;
    }
    
    .kakheti_container{
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
    }
    .kakheti_container_2{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-auto-rows: 250px;
    }
}
